body{
    width: 100%;
    height: 100vh;
}

.bottom{
    width: 100%;
    height: 25%;
    padding: 10px;
}

.leftside{
    height: 50%;
}

.rightside{
    height: 50%;
}

.chart-container{
    width: 550px;
    padding-left: 25px;
}